<ion-view view-title="Notification">
  <ion-content>
	<div ng-controller="notificationController">
		<h1>JAVASCRIPT</h1>
		<button ng-click="alertJS()">Alert</button>
		<button ng-click="confirmJS()">Confirm</button>
	</div>

	<div ng-controller="notificationController">
		<h1>NATIVO</h1>
		<button ng-click="alertNativo()">Alert</button>
		<button ng-click="confirmNativo()">Confirm</button>
		<button id="btnBeepNativo">Beep</button>
		<button id="btnVibrateNativo">Vibrate</button>
	</div>
  </ion-content>
</ion-view>
